#navbar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #1e87f0;
	padding: 10px;
	color: #ffffff;
	z-index: 999;
	line-height: 40px;
}

#navbar a {
	color: #ffffff;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}